<section class="topics-detail-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 m-auto">
                <!-- Static form for demonstration -->
                <form>
                    <h4>Add new theme</h4>
                    <div class="form-group">
                        <label for="themeTitle" class="form-label">Theme Title</label>
                        <input type="text" class="form-control" id="themeTitle" name="themeTitle" placeholder="Title">
                    </div>



                    <div class="form-group">
                        <label for="themeDescription" class="form-label">Theme Description</label>
                        <textarea class="form-control" id="themeDescription" name="themeDescription" rows="3"
                            placeholder="Post"></textarea>
                    </div>

                    <button type="button" class="btn btn-primary">Create Theme</button>
                </form>
            </div>
        </div>
    </div>
</section>