
  <div class="container">
    <section id="content">
      <form [formGroup]="form" (ngSubmit)="login()">
   
        <h1>Login Form</h1>
        <div>
          <input 
          type="text" 
          name="email"
          id="email" 
          placeholder="Email" 
          formControlName="email"
          />
        </div>
        <ng-container *ngIf="form.get('email')?.touched">
          <p class="error" *ngIf="form.get('email')?.errors?.['required']">
            Email is required!
          </p>
          <p class="error" *ngIf="form.get('email')?.errors?.['emailValidator']">
            Email is not valid!
          </p>
        </ng-container>
        <div>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <ng-container *ngIf="form.get('password')?.touched">
          <p class="error" *ngIf="form.get('password')?.errors?.['required']">
            Password is required!
          </p>
          <p class="error" *ngIf="form.get('password')?.errors?.['minlength']">
            Password must be at least 5 characters long.
          </p>
        </ng-container>
        <div>
          <button   [disabled]="form.invalid" 
          class="btn-primary">Log in</button>
        </div>
        <p><a href="/auth/register">Don't have an account?</a></p>
      </form>
      <!-- form -->
      <div class="button">
        <a href="/">Go back to home page</a>
      </div>
      <!-- button -->
    </section>
    <!-- content -->
  </div>
  <!-- container -->

