<body>
    <div class="container">
        <section id="content">
            <form action="">
                <h1>Login Form</h1>
                <div>
                    <input type="text" placeholder="Email" required="" id="email" />
                </div>
                <div>
                    <input type="password" placeholder="Password" required="" id="password" />
                </div>
                <div>
                    <input type="submit" value="Log in" />
                    <a href="/register">Don't have an account?</a>
                 
                </div>
            </form><!-- form -->
            <div class="button">
                <a href="/">Go back to home page</a>
            </div><!-- button -->
        </section><!-- content -->
    </div><!-- container -->
    </body>