<section class="explore-section section-padding" id="section_2">
    <div class="container">

        <div class="col-12 text-center">
            <h2 class="mb-4">Browse Topics</h2>
        </div>

    </div>


    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel"
                        aria-labelledby="design-tab" tabindex="0">
                        <div class="row">
                            <!-- theme component -->

                            <div *ngFor="let theme of themesList; let i = index" class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                <div class="custom-block bg-white shadow-lg">
                                    <a [routerLink]="theme._id"> 
                                        <!-- TODO edit link -->
                                        <div class="d-flex">
                                            <div>
                                                <p class="mb-0"><strong>Creator:</strong> {{ theme.userId.username }}</p>
                                                <br />
                                                <h5 class="mb-2">{{ theme.themeName | customSlice :25}}</h5>
                                                <p class="mb-0"><strong>Comments:</strong> {{theme.posts.length}} </p>
                                                <p class="mb-0"><strong>Created on:</strong> {{ theme.created_at | elapsedTimeWithHours}}</p>
                                            </div>                                          
                                            <p class="mb-0">
                                                <span class="subscribers-text">Subscribers:</span>
                                                <span class="badge bg-design rounded-pill ms-auto">{{theme.subscribers.length || 0}}</span>
                                            </p>
                                        </div>
                                        <!-- Conditional Image Source -->
                                        <img [src]="i % 2 === 0 ? 'assets/images/topics/undraw_Remote_design_team_re_urdx.png' : 'assets/images/topics/undraw_online_ad_re_ol62.png'" class="custom-block-image img-fluid" alt="{{ theme.themeName }}">
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    
</section>

