<!-- READ MODE -->

    <div class="wrapper">
        <div class="img-area">
          <div class="inner-area">
            <img src="https://image.shutterstock.com/image-vector/anonymous-vector-icon-incognito-sign-260nw-1850222983.jpg" alt="">
          </div>
        </div>
        
        <div class="name" class="read">
            <h3>Profile Info</h3>
        </div>
        <div class="about" class="read">Username: Prince</div>
        <div class="about" class="read">Email: alabala&#64;gmail.com</div>
        <div class="about" class="read">Telephone: ++3598767867</div>
        <div class="social-icons"></div>
        <div class="buttons">
          <button>Edit</button>
       
          <button>Cancel</button>
        </div>
      </div>
    
      <!-- EDIT MODE -->
      <div>
        <div class="wrapper">
            <div class="img-area">
              <div class="inner-area">
                <img src="https://image.shutterstock.com/image-vector/anonymous-vector-icon-incognito-sign-260nw-1850222983.jpg" alt="">
              </div>
            </div>
            <div class="icon arrow"></div>
            <div class="icon dots"></div>
            <!-- Editable fields start here -->
            <div>
                <div class="about editable"><label>Username:</label><input type="text" value="Prince" /></div>
                <div class="about editable"><label>Email:</label><input type="email" value="alabala@gmail.com" /></div>
                <div class="about editable"><label>Telephone:</label><input type="tel" value="+3598767867" /></div>
            </div>
         
            <!-- Editable fields end here -->
            <div class="buttons">
              <button>Save</button>
              <button>Cancel</button>
            </div>
      </div>
     


