<body>
    <div class="container">
        <section id="content">
            <form action="">
                <h1>Registration Form</h1>

                <div>
                    <input type="text" placeholder="Username" required="" id="username" />
                </div>

                <div>
                    <input type="text" placeholder="Email" required="" id="email" />
                </div>

                <div>
                    <input type="password" placeholder="Password" required="" id="password" />
                </div>

                <div>
                    <input type="password" placeholder="Confirm Password" required="" id="repass" />
                </div>


                <div>
                    <input type="submit" value="Register" />
                    <a href="/login">Already have an account?</a>
                </div>
            </form><!-- form -->
            <div class="button">
                <a href="/">Go back to home</a>
            </div><!-- button -->
        </section><!-- content -->
    </div><!-- container -->
</body>